<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship!</title>
    <style>
        #mytextarea {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <div><h1>Welcome to Battleship!</h1>
        <p><a href={{url_for("upload_board", random=True)}}>Get Started</a> or choose a board below:</p>
    </div>
    <div>
        <form action={{url_for("list_boards")}} method="get">
            Find name: <input type="text" name="name">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <p>
        {% for board_id, name in boards %}
            <a href="{{board_id}}">{{board_id}}</a>{% if name %} {{name}}{% endif%}{% if board_id == my_board %} <--Your board{% endif %}<br>
        {% endfor %}
        </p>
    </div>
    <div>
        <p>
            Suggestion? Bugs? Leave an issue on my <a href="https://github.com/cayspekko/bship/issues">Github</a>.
        </p>
    </div>
</body>
</html>