<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .preformatted {
            font-family: monospace;
            white-space: pre;
        }
    </style>
</head>
<body>
    <div class=preformatted>
{{board}}
    </div>
    <div>
        <form action={{url_for("attack_board")}} method="post" autocomplete="off">
            Coord: <input type="text" name="coord" maxlength="3" autofocus> {% if message %}{{message}}{% endif %}</br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        {% if board_id != session["board"] %}
            Your Board: <a href="{{session['board']}}/reveal">{{session['board']}}</a>
        {% endif %}
    </div>
</body>
</html>