<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship!</title>
    <style>
        #mytextarea {
            font-family: monospace;
            font-size: 22px;
        }
    </style>
</head>
<body>
    <div>
        <p><a href={{url_for("upload_board", random=True)}}>Generate!</a></p>
    </div>
    <div>
        <form action={{url_for("create_board")}} method="post">
            <textarea id=mytextarea name="board" maxlength="110" rows="11" cols="10">{% if gen_board %}{{gen_board}}{% endif %}</textarea>
            <p>
                Name for board: <input type="text" name="name"><br>
                Password for board: <input type="password" name="password"><br>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
</body>
</html>